@import url(main.css);

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16vh;
}

.main-container h1{
    font-size: 2.5rem;
    margin-bottom: 3vh;
}

.buttons{
    display: flex;
    gap: 2vw;
    margin-top: 7vh;
}

.button{
    padding: 4vh 3vw;
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
    cursor: pointer;
    background-color: #1B1929;
    transition: transform 0.5s;
    font-size: 1.3rem;
    color: white;
    text-decoration: none;
}

.button:hover{
    transform: scale(1.1);
}