@import url(main.css);

.main-container{
    height: 80vh;
    margin: 0 auto;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error p{
    font-size: 0.8rem;
    max-width: 350px;
    text-align: left;
    margin-bottom: 3px;
}